* {
  font-family: Helvetica;
}

h1 {
  width: 1px;
  padding-right: 200px;
  padding-left: 10px;

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
}

main {
  margin: 10px;
  padding: 10px;
}

#Eva {
  margin-top: 1px;
}

p {
  margin: 50px;
}